**Python solutions to Gary Koop's "Analysis of Economic Data" (4th ed., 2013)**

**Chapter 11: Regression with Time Series Variables**

Jakub Janus, [jakub.janus@uek.krakow.pl](jakub.janus@uek.krakow.pl)

# Exercise 11.1
Use the variables Y = percentage change in sales and X = percentage change in
computer purchases in data set COMPUTER.XLS to decide whether the model
estimated in Table 11.1 is a good one. In particular,

(a) Establish whether Y and X really do not have unit roots as was assumed in
Example 11.1.

In [1]:
import pandas as pd
computer = pd.read_excel(r'datasets\COMPUTER.xls')
computer

    Unnamed: 0  %ch sales  %ch comp. Purch.  purch.
0            1   3.175741          1.675150     NaN
1            2   4.586927          0.246478     NaN
2            3   5.410200          0.333241     NaN
3            4   5.681870          0.969183     NaN
4            5   4.618571          0.147318     NaN
..         ...        ...               ...     ...
93          94   0.546180          1.079061     NaN
94          95   2.014954          1.534611     NaN
95          96   3.189212          1.674124     NaN
96          97   3.623817          0.953455     NaN
97          98   3.461036          0.977076     NaN

[98 rows x 4 columns]

In [10]:
import statsmodels
Y = computer['%ch sales']
X = computer['%ch comp. Purch.']
from statsmodels.tsa.stattools import adfuller
adfuller(Y)

(-4.676982473510349,
 9.294258206482468e-05,
 9,
 88,
 {'1%': -3.506944401824286,
  '5%': -2.894989819214876,
  '10%': -2.584614550619835},
 252.5607533995115)

(b) Beginning with an ADL(3,3) model with deterministic trend, perform statistical
tests to choose suitable lag lengths. Were good choices for p and q
made in Example 11.1? Should we have included a deterministic trend?

(c) If you found the variables do not have unit roots and made different choices
from p and q than the ones in Example 11.1, calculate the long run multiplier
and compare to the result in Example 11.1.

# Exercise 11.2
Data set COMPUTE1.XLS contains variables of the same form as COMPUTER.
XLS, however for a company in a different industry.
(a) Repeat the analysis of Exercise 11.1 using the data in COMPUTE1.XLS. That
is, verify that Y and X are stationary and then test to find a suitable ADL(p,q)
specification.
(b) Calculate the long run multiplier for the model estimated in part (a).

# Exercise 11.3
Use the data in ORANGE.XLS to complete Example 11.2. In particular:
(a) Carry out a Dickey–Fuller test to verify that both orange price series have
unit roots.

In [13]:
orange = pd.read_excel(r'datasets\ORANGE.xls', header = 1)
orange

     pence/lb.  pence/lb..1
0      83.0273      66.5331
1      91.1854      66.4581
2      82.2809      66.3976
3      91.6732      66.3488
4      93.1171      67.5421
..         ...          ...
176   254.4391     234.7534
177   260.4922     234.8976
178   255.3228     236.1933
179   266.6988     238.1020
180   257.9388     243.5591

[181 rows x 2 columns]

(b) Carry out a sequential test to verify that the Dickey–Fuller test on the residuals
was done correctly. That is, is an AR(1) model for the residuals appropriate?

# Exercise 11.8
The data set in WP.XLS contains annual data from 1857–1987 on wages (X) and
the consumer price index in the UK (Y).14 It is commonly thought that wage
pressures are a prime cause of inflation. You wish to investigate this claim by
carrying out a time series analysis on the data.
(a) Construct a time series plot of wages and prices. Do they both seem to be
trending? Do they seem to be trending together?
(b) Carry out unit root tests on X and Y. You should find evidence that they both
have unit roots.
(c) Carry out a cointegration test on X and Y. You should find evidence that they
are not cointegrated.
(d) Difference the data to obtain ΔX and ΔY. Repeat parts (a) and (b) with these
new variables. You should find that they do not have unit roots.
(e) Specify and estimate an ADL(p,q) model using the new variables, ΔX and ΔY.
Discuss your results. Note that the change in the log of a price level is inflation.
That is, ΔX and ΔY can be interpreted as wage and price inflation,
respectively.