**Python solutions to Gary Koop's "Analysis of Economic Data" (4th ed., 2013)**

**Chapter 8: Qualitative Choice Models**

Jakub Janus, [jakub.janus@uek.krakow.pl](jakub.janus@uek.krakow.pl)

# Exercise 8.1
The data set in COMMUTE.XLS contains data from N = 390 individuals on their
commuting choice between public transport and car. The data takes the form:
* Choice = 0 if the individual takes public transport and 1 if the individual takes
a car to work;
* Income = income (in thousands of dollars);
* Distance = distance to work (in miles).

(a) Estimate a logit model using Choice as the dummy dependent variable and
Income and Distance as explanatory variables. Interpret the signs of the
coefficients.

In [3]:
import pandas as pd
import statsmodels.api as sm
commute = pd.read_excel(r'datasets\COMMUTE.xls')
commute

     Choice      Income   Distance
0         0   16.440689   4.657276
1         0   39.909400  22.278497
2         2   46.098788   5.267421
3         2   41.488547  10.515348
4         2   72.762393  19.406761
..      ...         ...        ...
385       2  106.389000  11.060643
386       2   96.825256   0.718475
387       2  105.964940   6.612690
388       1   41.380343  38.664881
389       0   52.183769  24.047204

[390 rows x 3 columns]

(b) Display and interpret the actual choices made and the fitted choice probability
for all the individuals.
(c) Repeat parts (a) and (b) using a probit model.